<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello WordsWithEnemies!</title>
    <link href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Dosis:400,500,600,700,800' rel='stylesheet'>

    <style>
      html, body, #root, main, #app {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow: hidden;
      }

      @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)  {
        html {
          font-size: 0.85em
        }
      }
    </style>
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <audio loop autoplay src="<%= static_path(@conn, "/sand_castles.mp3") %>"></audio>

    <%= if Mix.env == :dev do %>
      <script src='http://localhost:4001/index.js'></script>
    <% else %>
      <script src="<%= static_path(@conn, "/js/index.js") %>"></script>
    <% end %>
  </body>
</html>
